.pagination-container
{
  background: transparent;
  padding: 2.5rem 0px 0px;
  margin: 3rem auto 1rem;
  border-radius: 0.2rem;
  counter-reset: pagination;
  text-align: center;
}
.pagination-container:after
{
  clear: both;
  content: "";
  display: table;
}
.pagination-container .pagination ul
{
  width: 100%;
}
.pagination-container.xlarge
{
  max-width: 43rem;
  width: 100%;
}
.pagination-container .pagination ul, 
.pagination-container .pagination li
{
  list-style: none;
  display: inline;
  padding-left: 0px;
}
.pagination-container .pagination li:hover a
{
  color: #222;
  background-color: #dfed3b;
  border: solid 1px #dfed3b;
}
.pagination-container .pagination li.active a,
.pagination-container .pagination li.disabled a
{
  color: #222;
  background-color: rgb(185 197 53);
  border: solid 1px rgb(185 197 53);
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}
.pagination-container .pagination li.previous
{
  float: left;
}
.pagination-container .pagination li.next
{
  float: right;
}
.pagination-container .pagination li a
{
  border: solid 1px #dfed3b;
  border-radius: 0.2rem;
  color: #dfed3b;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  padding: 0.5rem 0.9rem;
}