.contacts {
    padding-top: 10rem;
    padding-bottom: 5rem;
}

.contacts__list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 2rem;
}

.contacts__item-pic img {
    width: 5.78125rem;
    height: 5.75rem;
    position: relative;
    left: 0.25rem;
}

.contacts__item-link {
    margin-top: .3rem;
}

.contacts__item {
    width: 20%;
    flex-basis: 20%;
    max-width: 20%;
}

.contacts__item-link>a:hover {
    border-bottom: 2px solid #E5F43B;
    padding: .5rem;
    border-radius: 2px;
}